---
layout: layouts/base.njk
title: Nothing here
summary: That page does not exist. Yet.
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="notfound">
  <p class="notfound__code">404</p>
  <h1 class="notfound__title">Nobody has complained about that one yet.</h1>
  <p>
    Either it hasn't pissed anyone off enough to earn a page, or you typed it
    wrong. Both are fixable.
  </p>
  <p><a class="button" href="/">See what did make the cut</a></p>
</div>
