---
layout: layouts/base.njk
permalink: /index.html
eleventyExcludeFromCollections: true
---

<div class="home">
  <header class="home__head">
    <h1 class="home__title">OMG<br /><span>STOP</span></h1>
    <p class="home__tagline">{{ site.tagline | smartquotes }}</p>
  </header>

  {% set groups = collections.peevesByCategory %}
  {% if groups.length %}
    {% for group in groups %}
    <section class="group">
      <h2 class="group__name"><a href="/{{ group.slug }}/">{{ group.heading }}</a></h2>
      <ul class="peeve-list">
        {% for peeve in group.items %}
        <li class="peeve-list__item">
          <a class="peeve-list__link" href="{{ peeve.url }}">
            <h3 class="peeve-list__title">
              {{ peeve.data.title | smartquotes }}
              <span class="peeve-list__slug">omgstop.org{{ peeve.url | prettyUrl }}</span>
            </h3>
            {% if peeve.data.summary %}
            <p class="peeve-list__summary">{{ peeve.data.summary | smartquotes }}</p>
            {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>
    {% endfor %}
  {% else %}
  <p class="home__empty">Nothing yet. Give it a week.</p>
  {% endif %}
</div>
